@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster&family=Philosopher:wght@400;700&family=Roboto:wght@400;500&family=Ubuntu:wght@400;700&display=swap');

/* Fonts Used */
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */
