@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster&family=Philosopher:wght@400;700&family=Roboto:wght@400;500&family=Ubuntu:wght@400;700&display=swap');

/* Fonts Used */
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.First-section{
    background: url("../../assets/images/MainImg/mainImg.jpg")center center/cover;
    height: 92vh;
    width: 100%;
}

.ImgContent{
    /* color: white; */
    font-family: 'Philosopher', sans-serif;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ImgContent h1,h4,h6{
    background: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 1px;
}

.ImgContent a{
    text-decoration: none;
}

body{
    background-color: rgb(248,249,250);
}




/* Second Layer Css */
.Second-Layer{
    min-height: 100vh;
}

.Second-Layer-Heading{
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}

.Second-Layer .Img-Row-1,.Second-Layer .Img-Row-2,.Second-Layer .Img-Row-3{
    overflow: hidden;
    cursor: pointer;
}

.Second-Layer .Img-Row-1 img{
    height: 40vh;
    width: 100%;
    transition: all 1.5s ease;
}

.Second-Layer .Img-Row-1 img:hover{
    transform: scale(1.4);
}

.Second-Layer .Img-Row-2 img{
    height: 50vh;
    transition: all 1.5s ease;
    width: 100%;
}

.Second-Layer .Img-Row-2 img:hover{
    transform: scale(1.1);
}


.Second-Layer .Img-Row-3 img{
    transition: all 1.5s ease;
    width: 100%;
}

.Second-Layer .Img-Row-3 img:hover{
    transform: scale(1.4);
}






/* Third Layer Design */
.Third-Layer{
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.Third-Layer h1{
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2px;
}

.Third-Layer .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

.Third-Layer .row p{
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3px;
}






/* Fourth-Layer-Design */

.Fourth-Layer-Design{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Fourth-Layer-Design h1{
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 1px;
}

.Fourth-Layer-Design p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.Fourth-Layer-Design .row .col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Fourth-Layer-Design .Subscription-form form{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}


.Fourth-Layer-Design .Subscription-form form input{
    width: 80%;
    padding:5px;
    outline: none;
    border-radius: 10px;
    border: none;
    border-bottom:2px solid #868686 ;
}

.Fourth-Layer-Design .Subscription-form form input::placeholder{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.Fourth-Layer-Design .Subscription-form form button{
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 0.4px;
}

@media only screen and (max-width:992px){
    .Fourth-Layer-Design .Subscription-form form{
        flex-direction: column;
        width: 100%;
    }
    .Fourth-Layer-Design .Subscription-form form input{
        width: 60%;
        margin-bottom: 10px;
    }
}


@media only screen and (max-width:576px){
    .ImgContent h1,h4,h6{
        letter-spacing: 0.2px;
    }
    .Second-Layer .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: -20px;
    }

    .Second-Layer .Img-Row-1,.Second-Layer .Img-Row-2,.Second-Layer .Img-Row-3{
        margin-bottom: 20px;
    }

    .Second-Layer .Img-Row-2 img{
        height: 40vh;
    }

    .Third-Layer .row p{
        width: 100%;
        text-align: justify;
        font-size: 16px;
    }

    .Fourth-Layer-Design .Subscription-form form{
        flex-direction: column;
        width: 100%;
    }

    .Fourth-Layer-Design .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Fourth-Layer-Design .row p{
        text-align: center;
    }

    .Fourth-Layer-Design .Subscription-form form input{
        margin-bottom: 10px;
    }
}

